<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Feedback</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="ccu.css">
  </head>
  <body>
    <!-- <img class="image" src="https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg?auto=compress&cs=tinysrgb&w=800" alt="pic"> -->
    <div class="content_ccu">
      <div class="wrapper-1_ccu">
        <div class="wrapper-2_ccu">
          <h1 class="h1_ccu">Thank you !</h1>
          <p class="h2_ccu">Thanks for your feedback.</p>
          <p class="p_ccu">We will get back to you shortly.</p>
          <!-- <button class="go-home">
          go home
          </button> -->
          <form action="../landingPage/lp.html">
            <button class="go-home_ccu">Go Home</button>
          </form>
        </div>
    </div>
    </div>
</html>
