#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    padding: 0.5rem 6rem;
    background-color: #f7f7f7;
}

#header-img {
    margin: 15px;
    width: auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 4rem;
}

.navigate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.navi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    position: relative;
    font-weight: 500;
}

.ll {
    text-decoration: none;
    color: #000;
}

.ll:hover {
    color: #000;
}

.cart_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    font-weight: 600;
    position: absolute;
    top: -0.6rem;
    left: 0.8rem;
}

.navi > i {
    font-size: 1.2rem;
}
